<div class="">
          <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>News Articles</h2>
                  </div>
                  <div class="x_content">
                
                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th>News Title</th>
                          <th>News Image</th>
                          <th>CreatedAt</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for n in news %}
                        <tr>
                          <td>
                            <a>{{n.newsTitle}}</a>
                          </td>
                          <td>
                            <ul class="list-inline">
                              <li>
                                  <img src="{{ asset(n.WebPath) }}" width="50" height="50"/>
                              </li>
                            </ul>
                          </td>
                          <td class="project_progress">
                            <button type="button" class="btn btn-success btn-xs">{{ n.createdAt|date("d-m-Y H:i:s") }}</button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
